#main-wrapper{

width:500px;
margin:0 auto;
background:white;
padding:5px;

}
.abhiimg{
width:70px;
border-radius:50px;

}

.myform{
width:450px;
margin:0 auto;
}

.inputvalues
{
width:430px;
margin: 0 auto;
padding:5px;
}

#signin_btn
{
padding:5px;
background-color:#27ae60;
width:100%;
font-size:18px;
margin-bottom:20px;
}

#login_btn
{
padding:5px;
background-color:#27ae60;
width:100%;
font-size:18px;
}

#signup_btn
{
padding:5px;
background-color:#27ae60;
width:100%;
font-size:18px;

}

#back_btn
{
padding:5px;
background-color:#27ae60;
width:100%;
font-size:18px;
margin-bottom:20px;
}
#signout_btn
{
padding:5px;
background-color:#27ae60;
width:100%;
font-size:18px;
margin-bottom:20px;
}


   